<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EMS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
  <servlet>
    <servlet-name>ServletOne</servlet-name>
    <servlet-class>ServletOne</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClassMarksDisplay</servlet-name>
    <servlet-class>ClassMarksDisplay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidateLogin</servlet-name>
    <servlet-class>ValidateLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentInfo</servlet-name>
    <servlet-class>StudentInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitAdmission</servlet-name>
    <servlet-class>SubmitAdmission</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Inquiry</servlet-name>
    <servlet-class>Inquiry</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>ChangePassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitFacultyAdmission</servlet-name>
    <servlet-class>SubmitFacultyAdmission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOne</servlet-name>
    <url-pattern>/ServletOne</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateLogin</servlet-name>
    <url-pattern>/ValidateLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inquiry</servlet-name>
    <url-pattern>/Inquiry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentInfo</servlet-name>
    <url-pattern>/StudentInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClassMarksDisplay</servlet-name>
    <url-pattern>/ClassMarksDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitAdmission</servlet-name>
    <url-pattern>/SubmitAdmission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitFacultyAdmission</servlet-name>
    <url-pattern>/SubmitFacultyAdmission</url-pattern>
  </servlet-mapping>
</web-app>